$dark-color: #010508;
$yellow: #daae07;

$mobile: 600px;

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
  background: $dark-color;

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  .row {
    margin: 0;
  }

  .app {
    padding-top: 15vh;

    @include mobile {
      padding-top: 5vh;
    }

    .panel {
      &.date-selector-panel {
        margin-bottom: 15px;
        background-color: #12212e;

        .panel-body {
          padding: 25px;

          label {
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 12px;
            color: #ffffff;
          }

          .react-daterange-picker {
            box-shadow: none !important;
            height: 50px;
            border: none !important;
            background-color: #1d2e3d;

            .react-daterange-picker__wrapper {
              min-width: 100%;
              border: none !important;

              .react-daterange-picker__inputGroup,
              .react-daterange-picker__range-divider {
                visibility: hidden;
              }
            }

            button {
              outline: none !important;

              .react-daterange-picker__button__icon {
                width: 15px;
              }
            }
          }

          .react-calendar.react-calendar--selectRange {
            background-color: $dark-color;
            border: none !important;
          }
        }
      }
    }

    .list-group {
      background-color: #04070a;

      li {
        background-color: #080c11;
        color: #c5c3c3;
        border-color: $dark-color;
        padding: 20px 25px;

        span {
          color: #ffffff;
          font-weight: 500;
        }
      }
    }

    .event-container {
      margin-top: 15px !important;
      padding: 20px 25px;
      background-color: rgba($color: $yellow, $alpha: 1);
      border-radius: 4px;

      p {
        margin: 0;
        font-weight: 400;
        font-size: 13.5px;
        line-height: 20px;
      }
    }

    .event-loader-container {
      height: 80px;
      min-width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .lds-ring {
        display: inline-block;
        position: relative;
        width: 18px;
        height: 18px;
      }

      .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 18px;
        height: 18px;
        border: 1.5px solid $yellow;
        border-radius: 50%;
        animation: lds-ring 0.8s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: $yellow transparent transparent transparent;
      }

      .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
      }

      .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
      }

      .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
      }

      @keyframes lds-ring {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
}
